<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Input of User Data</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
<p><a href="/"><-Назад</a></p>
<h1>Добавление пользователя</h1>
<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Фамилия: </td>
            <td><input type="text" th:field="*{lastName}" pattern="[A-Za-zА-Яа-яЁё]{2,40}" required="true"/></td>
        </tr>
        <tr>
            <td>Имя: </td>
            <td><input type="text" th:field="*{firstName}" pattern="[A-Za-zА-Яа-яЁё]{2,40}" required="true"/></td>
        </tr>
        <tr>
            <td>Отчество: </td>
            <td><input type="text" th:field="*{patronymicName}" pattern="[A-Za-zА-Яа-яЁё]{2,40}" required="true"/></td>
        </tr>
        <tr>
            <td>Возраст: </td>
            <td><input type="text" th:field="*{age}" min="1" max="99" pattern="[1-9]{0,1}[0-9]{1,1}" required="true"/></td>
        </tr>
        <tr>
            <td>Уровень зарплаты: </td>
            <td><input type="text" th:field="*{salaryLevel}" min="0" max="10000000" required="true"/></td>
        </tr>
        <tr>
            <td>E-mail: </td>
            <td> <input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Место работы: </td>
            <td><input type="text" th:field="*{placeOfWork}" /></td>
        </tr>
    </table>
    <p><a href="/uploaduser">Загрузить Файл</a></p>
    <p><input type="submit" value="Добавить" /> <input type="reset" value="Очистить" /></p>
</form>
</div>
</body>
</html>