<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Searching of User Data</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <p><a href="/"><-Назад</a></p>
    <h1>Пользователь найден</h1>
    <hr>
    <h3>Данные пользователя</h3>
    <p th:text="'Фамилия: ' + ${user.lastName}" />
    <p th:text="'Имя: ' + ${user.firstName}" />
    <p th:text="'Отчество: ' + ${user.patronymicName}" />
    <p th:text="'Возраст: ' + ${user.age}" />
    <p th:text="'Уровень зарплаты: ' + ${user.salaryLevel}" />
    <p th:text="'E-mail: ' + ${user.email}" />
    <p th:text="'Место работы: ' + ${user.placeOfWork}" />
    <hr>
    <h3>Данные клиента</h3>
    <p th:text="'Текущее время: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" />
    <p th:text="'Браузер: ' + ${#httpServletRequest.getHeader('User-Agent')}"/>
    <form action="#" th:action="@{/sendemail/{toemail}(toemail=${user.email})}" method="get">
        <p><input type="submit" value="Написать сообщение" /></p>
    </form>
    <a href="/finduser">Найти другого пользователя</a>
</div>
</body>
</html>